.mainLayout {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  overflow-y: auto;
}

.main {
  padding-inline: 20px;
}
