.mainLayout {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.main {
  padding-inline: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
  padding-block: 15px;
  background-color: transparent;
  text-align: center;
}
