.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.logoText {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
}
